@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700;800&display=swap");

@font-face {
  font-family: "paybooc-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "paybooc-Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

form > div > span:first-child {
  display: inline-block;
  width: 10ch;
  text-align: right;
  padding: 0 1ch;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  width: 400px;
  font-size: 1.1rem;
  padding: 0.4rem;
  margin: 0.4rem;
}

.btn {
  font-size: 1.3rem;
  padding: 0.5rem;
  margin: 0.4rem 0;
}

.alert-box {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;

  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
